body
{
    background-image: linear-gradient(#4a4f74, #ad6d8d);
    background-attachment: fixed;
}
h1
{
    text-align: center;
    padding-top: 50px;
    font-family: Comic Sans MS;
    font-size: 60px;
    color: white;
}
.container
{
    height:20vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    justify-content: center; 
    align-items: center;
}
img{
  width: 80%;
  height: auto;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
table
{
    margin: auto;
    padding: 1%;
    width: 1000px;
    border: thick solid black;
    background-color: black
}
td
{
    border: thin solid black;
    padding: 20px;
    height: 16%;
    width: 9%;
    background-color: black;
    font-size: 60pt;
    color: rgba(0, 0, 0, 0);
    user-select: none;
}
.tableContainer
{
    text-align: center;
}
.info
{
    text-align: center;
}
#score
{
    font-family: Comic Sans MS;
    font-size: 30px;
    color: white;
}
#moves
{
    font-family: Comic Sans MS;
    font-size: 30px;
    color: white;
}
#status
{
    font-family: Comic Sans MS;
    font-size: 30px;
    /* color: white; */
    animation: rainbow 5s infinite;
}
@keyframes rainbow {
    12.5% {
      color: #FF0000;
    }
    25% {
      color: #FFA500;
    }
    37.5% {
      color: #FFFF00;
    }
    50% {
      color: #7FFF00;
    }
    62.5% {
      color: #00FFFF;
    }
    75% {
      color: #0000FF;
    }
    87.5% {
      color: #9932CC;
    }
    100% {
      color: #FF1493;
    }
  }
button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Comic Sans MS";
  font-size: 15px;
  height: 40px;
  line-height: 20px;
  padding: 10px 16px;
  user-select: none;
}
